header{

    background-color: blue;
    font-size: large;
    color: aliceblue;
    text-align: center;
}

.container{

    font-size: large;
}

.fondofila1columna1{

    background-color: aquamarine;
}
.fondofila1columna2{

    background-color: forestgreen;
}
.fondofila1columna3{

    background-color: cornflowerblue;
}
.fondofila1columna4{

    background-color: rgb(126, 196, 94);
}
.fondofila2columna1{

    background-color: rgb(100, 141, 218);
}
.fondofila2columna2{

    background-color: yellowgreen;
}
.tablatitulo1{

    background-color: goldenrod;
}

footer{
    background-color: blue;
    font-size: large;
    color: aliceblue;
    text-align: center;


}