<app-navbar></app-navbar>



<header>Header</header>



<div class="container">

<div class="row">

    <div class="col-3 fondofila1columna1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ut enim molestias sed, incidunt in tempora dolor deleniti sapiente quam harum qui. Nam, explicabo? Enim sint pariatur nihil eos sit?</div>
    <div class="col-4 fondofila1columna2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, quis voluptatum cum, consequuntur voluptatem veniam iste debitis praesentium voluptate consectetur laboriosam necessitatibus tempora! Dignissimos optio perspiciatis illo dolorem commodi amet.</div>
    <div class="col-5 fondofila1columna3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis asperiores dolorum architecto, ab perspiciatis, eos temporibus totam iusto dolore magni aliquam nostrum, tempore aut et ut hic laudantium perferendis?</div>



</div>
</div>
<div class="container">
<section class="row">

    <article class="col-5 fondofila2columna1">

        <div class="table-responsive">

        <table class="table table-bordered">

            <tr class="tablatitulo1">
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
                <tr>
                    <td>1</td>
                    <td>Martin</td>
                    <td>Felipe</td>
                    <td>Pineda</td>
                    <td>osnola@</td>
                    <td>313525</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Juanjo</td>
                    <td>Jose</td>
                    <td>Pineda</td>
                    <td>papiga@</td>
                    <td>312255</td>
                </tr>
                <tr class="table table-active">
                    <td>3</td>
                    <td>Juanjo</td>
                    <td>Jose</td>
                    <td>Pineda</td>
                    <td>papiga@</td>
                    <td>312255</td>
                </tr>
                <tr>
                    <td>4</td>
                </tr>
            
        </table>
    </div>




    </article>
    <aside class="col-7 fondofila2columna2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sint praesentium possimus labore, repudiandae, corrupti unde voluptates impedit sit facere quibusdam animi. Tenetur enim maiores, adipisci officia architecto exercitationem quae.</aside>
</section>

</div>
<div class="container">
<div class="row">

    <div class="col-4 fondofila1columna1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ut enim molestias sed, incidunt in tempora dolor deleniti sapiente quam harum qui. Nam, explicabo? Enim sint pariatur nihil eos sit?</div>
    <div class="col-3 fondofila1columna2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, quis voluptatum cum, consequuntur voluptatem veniam iste debitis praesentium voluptate consectetur laboriosam necessitatibus tempora! Dignissimos optio perspiciatis illo dolorem commodi amet.</div>
    <div class="col-3 fondofila1columna3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis asperiores dolorum architecto, ab perspiciatis, eos temporibus totam iusto dolore magni aliquam nostrum, tempore aut et ut hic laudantium perferendis?</div>
    <div class="col-2 fondofila1columna4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis asperiores dolorum architecto, ab perspiciatis, eos temporibus totam iusto dolore magni aliquam nostrum, tempore aut et ut hic laudantium perferendis?</div>


</div>
</div>

