div{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;

    p.tamano{
        font-size: 3rem;


    }
//.buscar{
    //position: absolute;
    //padding: 10px;
//}
}

.icono{
    width: 3500px;
    font-size: 18px;
    margin-top: 0px; 
}
.form-register {
    width: 400px;
    background: #adb3b3;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(27, 21, 21);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 29px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #f5f6f7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #869e7e;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(39, 13, 13);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(26, 21, 21);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: rgb(92, 78, 78);
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #64806b;
    border: none;
    padding: 12px;
    color: rgb(44, 37, 37);
    margin: 16px 0;
    font-size: 16px;
  }
  .ingresar {
    width: 400px;
    background: #adb3b3;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(27, 21, 21);
    box-shadow: 7px 13px 37px #000;
  }
  .ingresar h4 {
    font-size: 29px;
    margin-bottom: 20px;
  }
  .ingresar .botons {
    width: 100%;
    background: #64806b;
    border: none;
    padding: 12px;
    color: rgb(44, 37, 37);
    margin: 16px 0;
    font-size: 16px;
  }
  .ingresar p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
 