<app-navbar></app-navbar>
 
<div class="container">

</div>
<body>
    <section class="ingresar">

        <p>Tengo Cuenta</p>

        <h4>Ingresar</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
      <input class="botons" type="submit" value="Ingresar">

    </section>



    <section class="form-register">

        <p>No tengo Cuenta</p>
        
      <h4>Registrarse</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Repetir correo electronico">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Repetir Contraseña">
      
      <input class="botons" type="submit" value="Registrarse">
      
   

      
    </section>
    
  
  </body>
