

<nav class="navbar  navbar-expand navbar-dark bg-black">

    

    
<ul class="navbar-nav">
    <li>
        <p class= "nav-link"[routerLink]="['pagina_principal']">Pagina principal</p>
    </li>
    <li>
        <p class="nav-link" [routerLink]="['registrar_usuario']">Formulario registro</p>
    </li>
</ul>
<a [routerLink]="['pagina_principal']" class="navbar-brand">

    <img src="https://www.homecenter.com.co/static/landing/guiasdecompra/llantas-carcenter/logo_carcenter.png" width="300" height="45" alt="">
</a>
<a class="buscar">
    <input type="texto" placeholder="Buscar" required>
    <a class="icono">
        <button>Ingresar</button> 
           
</a>
</a>

</nav>
<nav class="navbar  navbar-expand navbar-fixed-bottom bg-secondary">
<ul class="navbar-nav">
    <li>
        <a class="Comprar">
            <button>Comprar</button> 
               
    </a>
    
    </li>
    <li>
        <a class="Vender">
            <button>Vender</button> 
               
    </a>
    
    </li>
    <li>
        <a class="Financiar">
            <button>Financiar</button> 
               
    </a>
    
    </li>
    <li>
        <a class="Contacto">
            <button>Contacto</button> 
               
    </a>
    
    </li>
    
</ul>
</nav>