p{
    font-size: x-large;
}
a {
left: 40%;
position: absolute;

}
.buscar{
   
    width: 3000px;
    font-size: 18px;
    margin-top: 0px;
    left: 65%;
    position: absolute;
    
    
}
.icono{
    width: 3000px;
    font-size: 18px;
    margin-top: 0px;
    left: 15%;
    position: absolute;
}
.Comprar{
    color: black;    
    width: 3000px;
    font-size: 18px;
    margin-top: -25px;
    left: 15%;
    position: absolute;

}
.Vender{
    color: black;  
    width: 3000px;
    font-size: 18px;
    margin-top: -25px;
    left: 35%;
    position: absolute;

}
.Financiar{
    color: black;  
    width: 3000px;
    font-size: 18px;
    margin-top: -25px;
    left: 50%;
    position: absolute;

}
.Contacto{
    color: black;  
    width: 3000px;
    font-size: 18px;
    margin-top: -25px;
    left: 65%;
    position: absolute;

}
